<?xml version="1.0"?>
<program algorithm="FCFS">
	<Process>
		<Instruction type="1" />
		<Instruction type="3" />
	</Process>
	<Process>
		<Instruction type="2" />
		<Instruction type="1" />
		<Instruction type="1" />
		<Instruction type="1" />
		<Instruction type="0" />
	</Process>
	<Process>
		<Instruction type="0" />
	</Process>
</program>
